.places {
    margin: 0 auto;
    max-width: 984px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100vw - 96px);
    }
}

@media screen and (max-width: 890px) {
    .places {
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 760px) {
    .places {
        margin: 0;
        max-width: 760px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}