.page {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    /* border: 1px solid red; */
    margin: 28px auto 0 auto;
    max-width: 1280px;
    width: calc(100% - 96px);
    height: 52px;
}

.header__logo {
    margin: 0 auto auto 0;
    width: 176px;
    height: 52px;
    float: left;
}

.header__lang-links {
    margin: 0;
    margin-top: 18px;
    float: right;
}

.header__lang-link:nth-child(2) {
    text-decoration: none;
    margin-left: 18px;
    width: 29px;
    height: 28px;
}

.header__lang-link {
    margin: 0;
    width: 30px;
    height: 28px;
    color: #FFF;
    font-family: Inter-Regular;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
}

.lead {
    margin: 56px auto 0 auto;
    max-width: 984px;
    width: 100%;
    max-height: 1005px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    height: 200px;
    color: #FFF;
    text-align: center;
    font-size: 96px;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
}

.lead__subtitle {
    margin: 32px auto 0 auto;
    width: 640px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    font-family: Inter-Regular;
    font-style: normal;
}

.lead__image {
    position: relative;
    margin: 64px 148px 0 148px;
    max-width: 984px;
    width: 100%;
    height: 100%;
}

.lead__caption {
    margin: 8px auto auto 0;
    width: 160px;
    height: 14px;
    color: #FFF;
    font-family: Inter-Regular;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    width: 984px;
    height: 429px;
    margin: 92px auto 0 auto;
}

.intro__title {
    margin:0;
    width: 690px;
    height: 58px;
    color: #FFF;
    font-size: 54px;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
}

.intro__text {
    margin: 40px auto 33px 0;
    width: 690px;
    color: #FFF;
    font-size: 16px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.intro__list {
    margin: 0 auto 0 0;
    width: 690px;
    color: #FFF;
    font-size: 12px;
    font-family: Inter-Bold;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.photo-grid {
    margin: 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
}

.photo-grid__item {
    width: 100%; /* 12,8 */
    height: 100%;
}

.places {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    flex-direction: column-reverse;
}
.place {
    max-width: 984px;
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr 460px;
    column-gap: 40px;
    row-gap: 48px;
}

.place__title {
    width: 460px;
    margin: 0 auto auto 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #FFF;
    font-size: 72px;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
}

.place__image {
    width: 460px;
    height: 460px;
    margin: auto auto 0 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.place__website {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__url-heading {
    margin: 0;
    color: #AAA;
    font-size: 12px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 2px;
}

.place__link {
    margin: 0;
    margin-top: 12px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
}

.place__link:hover{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.place__paragraph {
    position: relative;
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.place__paragraph-one{
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.place__paragraph-two{
    margin: 0;
    margin-top: 26px;
    color: #FFF;
    font-size: 18px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
}

.cover {
    background-image: url(images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    margin: 12px 48px 0 48px;
    width: 92.5%;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover__title {
    margin: 0;
    margin-top: 245px;
    margin-bottom: 32px;
    width: 560px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family: Inter-Black;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    text-decoration: none;
    z-index: 2;
}

.cover__subtitle {
    width: 360px;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    z-index: 2;
}

.cover__overlay {
    max-width: 1184px;
    width: 100%;
    height: 740px;
    background: rgba(42, 44, 47, 0.3);
    position: absolute;
    z-index: 0;
}

.cover:hover > .cover__overlay {
    background: rgba(42, 44, 47, 0.8);
}

.footer {
    margin: 92px 48px 24px 48px;
    width: 92.5%;
    height: 18px;
    display: flex;
    flex-direction: row;
}

.footer__link {
    margin: auto 18px auto 0;
    color: #FFF;
    font-size: 16px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.footer__link:hover{
    color: rgba(255, 255, 255, 0.8);
}

.footer__copyright {
    position: relative;
    margin: auto 0 auto auto;
    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer__copyright::before {
    content:'\A9';
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px auto 0 auto;
        max-width: 984px;
        width: 100%;
    }
    
    .lead__image {
        position: relative;
        margin: 56px 48px 0 48px;
        max-width: 928px;
    }

    .lead__caption {
        margin: 8px auto auto 28px;
    }

    .intro {
        max-width: 690px;
        width: 100%;
        margin: 92px auto 0 48px;
    }
    
    .photo-grid {
        margin: 92px 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px;
    }

    .places {
        margin: 0 auto;
        max-width: 928px;
        width: 100%;
    }
    .place {
        max-width: 928px;
        width: 100%;
        grid-template-columns: 440px 1fr;
        grid-template-rows: 1fr 440px;
        column-gap: 32px;
    }
    
    .place__title {
        width: 440px;
        margin: 0 auto auto 0;
    }
    
    .place__image {
        width: 440px;
        height: 440px;
    }
    .cover {
        margin: 12px 0 0 0;
        width: 100%;
        height: 640px;
    }
    
    .cover__title {
        margin-top: 195px;
        width: 560px;
    }
    
    .cover__overlay {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        width: calc(100% - 48px);
    }
    .lead {
        max-width: 768px;
        width: 100%;
    }

    .lead__image {
        position: relative;
        margin: 56px 0 0 0;
        max-width: 768px;
        width: 100%;
    }

    .lead__caption {
        margin: 8px auto 0 24px;
    }

    .intro {
        max-width: 720px;
        width: 100%;
        margin: 88px auto 0 auto;
    }
    
    .intro__title {
        width: 720px;
        height: 58px;
    }
    
    .intro__text {
        width: 720px;
    }
    .intro__list {
        width: 720px;
        height: 90px;
    }

    .photo-grid {
        margin: 88px 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px;
    }

    .places {
        max-width: 720px;
        width: 100%;
    }

    .place {
        width: 100%;
        margin: 0;
        margin-bottom: 72px;
        display: grid;
        grid-template-columns: 340px 1fr;
        grid-template-rows: 46px 1fr;
        column-gap: 28px;
    }

    .place:nth-child(5) {
        grid-template-rows: 92px 1fr;
    }
    
    .place__title {
        width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
    
    .place__image {
        margin: 0 auto auto 0;
        width: 340px;
        height: 340px;
    }
    
    .place__url-heading {
        line-height: 12px;
    }
    
    .place__paragraph {
        font-size: 16px;
    }

    .cover {
        margin: 18px auto 0 auto;
        width: 100%;
        height: 480px;
    }
    
    .cover__title {
        margin-top: 115px;
        width: 560px;
    }
    
    .cover__overlay {
        max-width: 768px;
        width: 100%;
        height: 480px;
    }

    .footer {
        margin: 88px 24px 24px 24px;
        width: 92.5%;
        height: 18px;
        display: flex;
        flex-direction: row;
    }
    
    .footer__link {
        margin: auto 18px auto 0;
    }
    
}

@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 0 16px;
        max-width: 288px;
        width: calc(100% - 32px);
        height: 42px;
    }
    
    .header__logo {
        width: 142px;
        height: 42px;
    }
    
    .header__lang-links {
        margin: 0;
        margin-top: 14px;
        float: right;
    }
    
    .header__lang-link {
        width: 22px;
        height: 20px;
        text-align: right;
        font-family: Inter-Regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    
    .lead {
        margin: 48px auto 0 auto;
        max-width: 320px;
        width: 100%;
    }
    
    .lead__title {
        margin: 0 auto;
        max-width: 288px;
        height: 88px;
        font-size: 40px;
        font-family: Inter-Black;
        font-weight: 900;
        line-height: 44px;
    }
    
    .lead__subtitle {
        margin: 16px auto 0 auto;
        width: 288px;
        height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    
    .lead__image {
        position: relative;
        margin: 40px 0 0 0;
        max-width: 320px;
        width: 100%;
        height: 100%;
    }
    
    .intro {
        width: 288px;
        min-height: 754px;
        margin: 64px auto 0 auto;
    }
    
    .intro__title {
        margin:0;
        width: 288px;
        height: 70px;
        color: #FFF;
        font-family: Inter-Black;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
    }
    
    .intro__text {
        width: 288px;
        min-height: 520px;
        color: #FFF;
        font-family: Inter-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
    }
    
    .intro__list {
        margin: 34px auto auto 0;
        width: 288px;
        height: 90px;
    }
    
    .photo-grid {
        margin: 64px auto;
        display: grid;
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: repeat(12, 216px);
        grid-gap: 12px;
    }
    
    .photo-grid__item {
        width: 100%;
        height: 100%;
    }
    
    .places {
        margin: 0 auto;
        max-width: 320px;
        display: flex;
        flex-direction: column-reverse;
    }
    .place {
        max-width: 320px;
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px 46px 320px 1fr;
        grid-gap: 32px;
    }
    
    .place__title {
        width: 288px;
        max-height: 35px;
        margin: 0 auto;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        color: #FFF;
        font-family: Inter-Black;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
    }
    
    .place__image {
        width: 100%;
        height: 100%;
        margin: 0;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .place__website {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .place__url-heading {
        margin: 0 auto;
        width: 288px;
        color: #AAA;
        font-family: Inter-Regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 2px;
    }
    
    .place__link {
        margin: 0 auto;
        margin-top: 12px;
        width: 288px;
        color: #FFF;
        font-family: Inter-Regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
    }
    
    .place__paragraph {
        position: relative;
        margin: 0 16px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        color: #FFF;
        font-family: Inter-Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
    }
    
    .cover {
        background-image: url(images/cover-trains.jpg);
        background-position: center;
        background-size: cover;
        margin: 16px 0 0 0;
        max-width: 320px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cover__title {
        margin: 0;
        margin-top: 33px;
        margin-bottom: 16px;
        width: 288px;
        height: 70px;
        color: #FFF;
        text-align: center;
        font-family: Inter-Black;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
        z-index: 2;
    }
    
    .cover__subtitle {
        width: 288px;
        height: 48px;
        margin: 0;
        color: #FFF;
        text-align: center;
        font-family: Inter-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        z-index: 2;
    }
    
    .cover__overlay {
        max-width: 320px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        background: rgba(42, 44, 47, 0.3);
        position: absolute;
        z-index: 0;
    }
    
    .footer {
        margin: 64px auto 24px 16px;
        width: 186px;
        height: 310px;
        display: flex;
        flex-direction: column;
    }
    
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
        color: #FFF;
        font-family: Inter-Regular;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    
    .footer__copyright {
        position: relative;
        margin: auto auto 0 0;
        color: #FFF;
        font-family: Inter-Regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-align: end;
    }  
}
