.intro__list {
    list-style-type: none;
    margin: 0 29.88% 0 0;
    padding: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.intro__list span {
    font-weight: 400;
}

@media screen and (max-width: 660px) {
    .intro__list {
        margin: 0 auto 0 0;
    }
}