.lead {
    margin: 56px auto 0 auto;
    max-width: 984px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px auto 0 auto;
        max-width: 984px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .lead {
        margin: 48px 0;
    }
}