.footer__link {
    margin: auto 18px auto 0;
    width: fit-content;
    color: #FFF;
    font-size: 16px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.footer__link:hover {
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 660px) {
    .footer__link {
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}