.lead__title {
    margin: 0 13.415%;
    color: #FFF;
    text-align: center;
    font-size: 6em;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1.0416;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 3.125%;
    }
}

@media screen and (max-width: 660px) {
    .lead__title {
        margin: 0;
        font-size: 40px;
        font-family: Inter, Arial, sans-serif;
        font-weight: 900;
        line-height: 44px;
    }
}