.lead__image {
    position: relative;
    margin: 64px 148px 0 148px;
    max-width: 984px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px 48px 0 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin: 56px 0 0 0;
    }
}

@media screen and (max-width: 660px) {
    .lead__image {
        margin: 40px 0 0 0;
    }
}