.lead__subtitle {
    margin: 32px auto 0 auto;
    max-width: 65.04%;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 65.04%;
        margin: 32px 8.34% 0 8.34%;
    }
}

@media screen and (max-width: 690px) {
    .lead__subtitle {
        margin: 16px 0 0 0;
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
    }
}