.lead__caption {
    margin: 8px auto auto 0;
    max-width: 160px;
    width: 100%;
    color: #FFF;
    font-family: Inter, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin: 8px auto auto 28px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin: 8px auto 0 24px;
    }
}