.cover__title {
    margin: 245px 312px 32px 312px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .cover__title {
       margin: 20.7% 26.35% 2.7% 26.35%;
   }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 115px auto 32px auto;
    }
}

@media screen and (max-width: 660px) {
    .cover__title {
        margin: 33px auto 16px auto;
        font-size: 32px;
        line-height: 35px;
        z-index: 2;
    }
}