.cover__title {
    margin: 0;
    max-width: 560px;
    min-height: 152px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    z-index: 2;
}

@media screen and (max-width: 690px) {
    .cover__title {
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}