.footer {
    margin: 92px 48px 24px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92.5%;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 660px) {
    .footer {
        margin: 64px auto 24px 16px;
        flex-direction: column;
    }
}