.place__website {
    margin: auto auto 0 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 660px) {
    .place__website {
        margin: 0 5%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}