.intro__title {
    margin:0 14.94% 0 0;
    color: #FFF;
    font-size: 54px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        margin:0;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin: 0;
    }
}

@media screen and (max-width: 660px) {
    .intro__title {
        margin: 0;
        color: #FFF;
        font-family: Inter, Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
    }
}